<h1>Pig Latinizer! write this to pass the test</h1>

<form method="post" action="/piglatinize">
  <p>Input the text you want pigized here (Enter your phrase:):</p>
  <textarea name="user_phrase"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
